.container {
	width: $viewportwidth;
}

.intro-section {
	width: $viewportwidth;
	padding: 1rem;
	padding-bottom: 0rem;
}

.intro {
	max-width: 114rem;
	margin: 0 auto;
	margin-top: 1rem;
	display: grid;
	justify-content: center;
	align-items: center;

	&__image {
		width: 65rem;
		margin-bottom: -.6rem;
		align-self: center;
		@include respond(tab-port) {
			width: 80vw;
			margin: 0 auto;
			margin-bottom: -.6rem;
		}
	}

	&__title {
		text-align: center;
		color: $color-black;
		margin-bottom: 3rem;
		margin-top: 1rem;
	}

	&__name {
		display: inline-block;
		font-size: 3rem;
		font-weight: 400;
		margin-bottom: .5rem;

		@include respond(tab-land) {
			font-size: 3.2rem;
		}

		@include respond(tab-port) {
			font-size: 3.6rem;
		}

		@include respond(Phone) {
			font-size: 3.5rem;
		}

		@include respond(mobile-l) {
			
		}

		@include respond(mobile-s) {
			
		}
	}

	&__work {
		font-size: 4rem;
		font-weight: 600;
		letter-spacing: .1rem;

		@include respond(tab-land) {
			font-size: 4.3rem;
		}

		@include respond(tab-port) {
			font-size: 4.8rem;
		}

		@include respond(Phone) {
			font-size: 4.8rem;
		}

		@include respond(mobile-l) {
			
		}

		@include respond(mobile-s) {
			
		}
	}

	@include respond(tab-land) {
		width: 100%;
	}
}

.threesteps-section {
	width: $viewportwidth;
	background-color: $color-blue;
}

.threesteps {
	max-width: 114rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5rem;
	padding: 3rem 1rem;

	&__item {
		display:grid;
		text-align: center;
		padding: 1rem 2rem;
		width: 100%;

		color: $color-white;

		&--image {
			margin: 0 auto;
			height: 17rem;
			align-self: center;

			@include respond(tab-land) {
				height: 18.8rem;
			}

			@include respond(tab-port) {
				height: 21.25rem;
			}

			@include respond(Phone) {
				height: 26.25rem;
			}
		}

		&--title {
			font-size: 2.5rem;
			font-weight: 600;
			margin-bottom: .3rem;

			@include respond(tab-land) {
				font-size: 2.8rem;
			}

			@include respond(tab-port) {
				font-size: 3rem;
			}

			@include respond(Phone) {
				font-size: 3.5rem;
			}
		
		}

		&--text {
			font-size: 1.6rem;
			width: 80%;
			margin: 0 auto;

			@include respond(tab-land) {
				font-size: 1.7rem;
			}

			@include respond(tab-port) {
				font-size: 2rem;
				width: 90%;
			}

			@include respond(Phone) {
				font-size: 2.2rem;
			}
		}

		@include respond(tab-land) {
			padding: 1rem 1rem;
		}
	}

	@include respond(tab-land) {
		width: 100%;
		grid-template-columns: 80%;
		justify-content: center;
		padding: 2rem 1rem;
		grid-gap: 2rem;
	}
}

.techstack-section {
	width: $viewportwidth;
	background-color: $color-white;
	margin-top: 2rem;
}

.techstack {
	width: 114rem;
	margin: 0 auto;
	padding: 2rem 1rem;
	&__items {
		margin-top: 2rem;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		&--title {
			font-size: 2.5rem;
			font-weight: 600;
			margin-bottom: 2rem;

			@include respond(tab-land) {
				font-size: 2.8rem;
			}

			@include respond(tab-port) {
				font-size: 3rem;
			}

			@include respond(Phone) {
				font-size: 3.5rem;
			}
		}

		&--list {
			margin-top: 2rem;
			display: grid;
			grid-template-columns: repeat(6,1fr);
			grid-gap: 2rem;

			@include respond(tab-port) {
				grid-template-columns: repeat(4,1fr);
			}

			@include respond(Phone) {
				grid-template-columns: repeat(3,1fr);
			}

			@include respond(mobile-l) {
				grid-template-columns: repeat(2,1fr);
				grid-gap: 2rem;
			}
		}
	}


	@include respond(tab-land) {
		width: 80%;
	}
}

.projects-section {
	width: $viewportwidth;
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.projects {
	width: 114rem;
	margin: 0 auto;
	&__title {
		font-size: 2.5rem;
		text-align: center;
		font-weight: 600;

		@include respond(tab-land) {
				font-size: 2.8rem;
			}

			@include respond(tab-port) {
				font-size: 3rem;
			}

			@include respond(Phone) {
				font-size: 3.5rem;
			}
	}

	&__description {
		font-size: 2rem;
		font-weight: 200;
		text-align: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 6rem;

		@include respond(tab-port) {
			grid-template-columns: 1fr;
			grid-gap: 3rem;
		}
	}

	@include respond(tab-land) {
		width: 100%;
		padding: 0 2rem;
	}
}

.c-section {
	width: $viewportwidth;
	margin-top: 4rem;
	background-color: $color-blue;
	padding: 3rem;
}

.cont {
	width: 114rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	padding: 1rem 2rem;
	color: white;

	&__left {
		text-align: center;
	}

	&__title {
		font-size: 3.2rem;
		font-weight: 600;
	}

	&__description {
		font-size: 1.8rem;
		width: 80%;
		margin: 0 auto;

		@include respond(tab-port) {
			width: 90%;
			font-size: 2rem;
		}

		@include respond(Phone) {
			font-size: 2.2rem;
			width: 100%;
		}
	}

	&__right {
		display: grid;
		justify-content: center;
	}

	&__link {
		align-self: center;
		font-size: 2rem;
		text-decoration: none;
		color: white;
		border: 2px solid white;
		padding: 1rem 2rem;
		border-radius: 3rem;
		width: 15rem;
		text-align: center;
		transition: all .2s ease-in-out;

		&:hover {
			background-color: white;
			color: $color-blue;
		}
	}

	@include respond(tab-land) {
		width: 100%;
	}

	@include respond(tab-port) {
		grid-template-columns: 1fr;
	}
}